*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    margin: 2%;
    display: flex;
}
.brand img{
    flex: 1;
    height: 21px;
    width: auto;
}
.nav-links{
    flex: 1;
}
.nav-links ul, li, a{
    display: flex;
    justify-content: flex-end;
    margin: 0 15px;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.hero-text{
    display: flex;
    flex: 1;    
}
.hero-img{
    display: flex;
    flex: 1;
}
h1{
    width: 60vw;
    font-weight: 900;
    font-size: 8vw;
    line-height: 100%;
    text-transform: uppercase;
}
h2{
    color: #ffffff;
    text-align: center;
    margin: 2% auto;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;
}