*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 18pt;
  font-weight: 300;
}

.mcs-nav{
    display: flex;
    justify-content: center;
}
.mcs-brand{
    width: 12%;
    height: auto;
}
.mcs-links{
    display: flex;
    justify-content: center;
}
.mcs-social-media img{
  height: 30px;
  width: auto;
  float: left;
  display: grid;
  align-items: center;
  place-self: center stretch;
  margin: 0 15px;
}
.mcs-footer{
    background-color: #1c1e20;
    padding: 5% 0%;
}
.mcs-footer a{
  text-decoration: none;
}
.mcs-footer-menu h1{
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.mcs-footer-menu a, h1:hover{
  color: #45ADD7;
}
.mcs-list li, a{
  text-align: left;
  margin: 0px;
  list-style: none;
  color: #636363;
  text-decoration: none;
}
.mcs-list li, a:hover{
  color: #45ADD7;
}
.mcs-list h4{
  color: white;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}
.mcs-brand-footer img{
width: 100%;
height: auto;
}
.mcs-navheader img, h5{
  display: grid;
  place-items: center stretch;
  font-weight: 900;
  text-transform: uppercase;
}
.mcs-navbar {
  margin: auto 0;
    overflow: hidden;
    vertical-align: middle;
    place-content: center;
  }
  
.mcs-navbar a {
  font-weight: 800;
  text-transform: uppercase;
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  
.mcs-dropdown {
  font-weight: 800;
  text-transform: uppercase;
    float: left;
    overflow: hidden;
  }
  
.mcs-dropdown .mcs-dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 0x 16px;
    background-color: inherit;
    font: inherit;
    margin: 0px;
  }
  
.mcs-navbar a:hover, .mcs-dropdown:hover .mcs-dropbtn {
  color:#45ADD7;
  }
  
.mcs-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 1% 16%;
    left: 0;
    z-index: 1;
  }
  
 
.mcs-dropdown:hover .mcs-dropdown-content {
    display: block;
}
  
  /* Create three equal columns that floats next to each other */
  .mcs-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: white;
    height: 250px;
  }
  .mcs-column img{
    float: left;
  }
  .mcs-column h5{
    height: 50px;
  }
  .mcs-column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .mcs-column a:hover {
    color: #45ADD7;
  }
  
  /* Clear floats after the columns */
  .mcs-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .mcs-column {
      width: 100%;
      height: auto;
    }
  }