*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    margin: 2%;
    display: flex;
    height: 35px;
}
section{
    margin: 2%;
    display: flex;
    vertical-align: middle;
}
.brand img{
    flex: 1;
    height: 21px;
    width: auto;
}
.nav-links{
    flex: 1;
}
.nav-links ul, li, a{
    display: flex;
    justify-content: flex-end;
    margin: 0 15px;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.hero-text{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 10% 0;
}
.btn{
    margin: 5% 0;
    border: 2px solid;
    border-color:  #00aedd;
    border-radius: 30px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #00aedd;
    color: #ffffff;
    border: none;
}
.hero-img{
    display: flex;
    flex: 2;
}
h1{
    margin: 5% 0;
    font-weight: 900;
    font-size: 40pt;
    line-height: 100%;
    text-transform: uppercase;
}
h2{
    color: #ffffff;
    text-align: center;
    margin: 2% auto;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;
}