*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    margin: 2% 0 0 0;
}
li a{
    font-weight: 800;
    color: #181a1b;
    margin: 0 0 0 20px;
}
li a:hover{
    color: #181a1b;
}

h1{
    text-align: center;
    margin: 90px auto 15% auto;
    width: 60vw;
    font-weight: 900;
    font-size: 8vw;
    line-height: 100%;
    text-transform: uppercase;
}
h2{
    color: #ffffff;
    text-align: center;
    margin: 2% auto;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;
}
.featured{
    z-index: 0;
    position: absolute;
    top: 600px;
    overflow: hidden;
    object-fit: cover;
    object-position: top center;
    height: 500px;
    width: 60%;
    margin: 0 20%;
}
.featured img{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.featured-work{
    color: #ffffff;
    width: 100%;
    background-color: #181a1b;
    margin: 200 0;
}
.mcs-margin{
    margin: 450px 0 100px 0;
}
.Projects-thumb img{
    width: 33%;
    height: auto;
    margin: auto 5%;
}