body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    margin: 2% 0 0 0;
}
li a{
    font-weight: 800;
    color: #181a1b;
    margin: 0 0 0 20px;
}
li a:hover{
    color: #181a1b;
}

.mcs-heading h1{
    text-align: center;
    margin: 20vh 0 0 0;
    width: 100vw;
    font-weight: 900;
    font-size: 7em;
    text-transform: uppercase;
}